<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.tugas.reslogv2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_um"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_um"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainTugasActivity" />
        <activity android:name=".InputTugasActivity" />
        <activity android:name=".ReadTugasActivity" />
        <activity android:name=".JadwalKuliahActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>